body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; Add this to prevent horizontal scrollbar */
}

#root {
  width: 100%;
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTHGjaSn_4pohHeV1sRyGPwEBLSD65b5t8A5IAELNu0qw&s');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
}

header {
  background-color: yellow;
  background-image: url('../backgroundmkheader.jpeg');
  background-size: cover;
  background-position: center;
}


.youtube-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.youtube-logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.twitch-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.twitch-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1 {
  color: rgb(51, 25, 202);
}

.summary-box {
  background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  color: white;
  padding: 20px; /* Adjust padding as needed */
  border-radius: 10px; /* Rounded corners */
  margin: 20px auto; /* Center the box horizontally and provide spacing */
  max-width: 800px; /* Limit the width of the box */
}


.read-the-docs {
  color: red;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Add margin to the bottom */
}



.summary {
  color: white;
  font-weight: bold;
}

.submit-request-btn {
  background-color: #007bff; /* Blue color */
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 20px;
}

.submit-request-btn:hover {
  background-color: black;
  color: yellow; /* Darker blue color on hover */
}

footer {
  background-color: rgb(22, 73, 22);
  padding: 20px;
  text-align: center;
  height: 20vh;
  background-image: url("https://c1.wallpaperflare.com/preview/261/406/540/lightning-sky-storm-cloud.jpg");
  background-size: cover; /* Ensure the background image covers the entire element */
  background-position: center;
  margin-top: 50px;
}

.contact-info {
  font-size: 18px;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.email,
.number {
  color: white;
}

.copy {
  color: rgb(172, 141, 82);
}




@media (min-width: 768px) {
  #root {
    max-width: auto;
    margin: 0 auto;
  }
}
